@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

body{
    background: white;
    font-family: 'Open Sans', sans-serif;
}

/* ***************** Generic Styling **************** */
.font {
    font-family: 'Josefin Sans', sans-serif;
}

.default-cursor {
    cursor: default;
}

.center {
    text-align: center;
}

.button {
    border-radius: 500px;
    outline: none;
    margin: 0 auto;
    background-color: transparent;
}

.color {
    color: #fefdfd;
    background-color: #39cccc;
}

.border-color {
    border-color: #39cccc;
}

.off-color {
    color: #7c7efb;
}

.tooltip span {
    display: none;
}


/* ***************** End of Generic Styling ************* */

/* ****************** Calendar Table Styling ************** */
table, td, th {
    border: 1px solid #232323;
}

table {
    margin: 14px auto;
    border-collapse: collapse;
}

#calendar {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}


#calendar thead tr:first-child th div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#calendar h4 {
    margin: 0;
    padding: 0.7vh 0 0.1vh;
    font-size: 1.4vw;
    font-weight: 300;
}

#calendar h3 {
    font-size: 2.4vw;
    font-weight: 700;
    margin: 0;
    padding: 0 1.9vw;
    display: inline-block;
}

#calendar .weekday {
    font-size: 1.6vw;
    font-weight: 300;
    padding: 8px 0 5px;
    border-bottom: 1px solid white !important;
}

#calendar .icon {
    font-size: 1.3vw;
    transition: all 0.3s;
}

#calendar .icon:hover {
    opacity: 0.6;
}

#calendar tbody td {
    height: 5.1vw;
    width: 5.1vw;
    font-size: 0.7vw;
    font-weight: 600;
    vertical-align: top;
    padding: 0.5vw;
    transition: all .3s ease;
}

#calendar tbody td:hover {
    font-size: 1.2vw;
}

#calendar #current-day {
    background-color: #e1e1e1;
}

#calendar img {
    width: 3.7vw;
    vertical-align: top;
    position: relative;
    top: 0.5vw;
} 

/* Choosing all td containing the class color */
#calendar tbody tr td[class*="color"] {
    border-right: 1px solid white;
}

#calendar tbody tr td[class*="color"]:first-child {
    border-left-color: inherit;
}

#calendar tbody tr td[class*="color"]:last-child {
    border-right-color: inherit;
}

#calendar tbody tr:nth-child(5) td[class*="color"] {
    border-bottom-color: white;
}

#calendar tbody tr:last-child td[class*="color"] {
    border-bottom-color: inherit;
}

#calendar tbody .prev-month-last-day:not(:last-child) {
    border-right: 1px solid black !important;
}

/* ******************* End of Calendar Table Styling ******** */

/* ******************** Dialog Styling ******************* */
dialog {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    background-color: rgba(29, 29, 29, 0.85);
    position: absolute;
    top: 0;
    left: 0;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* ********************** End of Dialog Styling ************ */

/* ********************** Popup Styling ******************** */

.popup {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48vw;
    margin: 22vh auto 0;
    background-color: #FEFDFD;
    border-radius: 10px;
}

/* ********************** End of Popup Styling *************** */

/******************* Make Note Styling *******************/
#schedule-post h4 {
    margin: 32px 0 18px;
    font-size: calc(16px + 1.6vw);
    font-weight: 300;
}

#schedule-post #schedule-post-details {
    height: 340px;
    width: 42vw;
    font-size: 2.6vw;
    padding: 14px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    outline: none;
    resize: none;
}

#schedule-post .got-it-button {
    display: inline;
    margin: 24px 0 20px;
    padding: 10px 26px;
    font-size: calc(12px + 0.6vw);
    font-weight: 400;
    transition: all .3s;
}

#schedule-post #got-it-button {
    border: 3px solid #222;
}

#schedule-post #got-it-button:hover {
    color: white;
    background-color: #222;
}


/******************** End of Make Note Styling ***********/

/* ****************** Responsiveness Styling *************/
@media (orientation: landscape) {
    .tooltip:hover {
        cursor: help;
        position: relative;
    }
    
    .tooltip:hover span {
        display: block;
        font-size: 1vw;
        padding: 6px;
        /* This will make HTML count for spaces without collapsing them */
        white-space: pre-wrap;
        width: 12vw;
        z-index: 100;
        background: #ededed;
        color: black;
        border-radius: 6px;
        left: 2vw;
        top: 4vw;
        position: absolute;
    
    }
}

@media (orientation: portrait) {

    #calendar {
        width: 100%;
        display: block;
        margin-top: 3.6vh;
    }

    #calendar h4 {
        padding: 1.2vw 0 0.2vw;
        font-size: 2.8vw;
    }

    #calendar h3 {
        font-size: 3.8vw;
        padding: 1.5vw 2vw 0.8vw;
    }

    #calendar .icon {
        font-size: 2.9vw;
    }

    #calendar .weekday {
        font-size: 2.5vw;
    }

    #calendar tbody td {
        height: 9.8vw;
        width: 9.8vw;
        font-size: 1.6vw;
        padding: 0.8vw;
    }

    #calendar img {
        width: 7.4vw;
        top: 0.7vw;
    }

    dialog {
        width: 100%;
        height: 100%;
    }
    .popup {
        width: 75vw;
    }

    #schedule-post #schedule-post-details {
        width: 62vw;
        height: 24vh;
        font-size: 4vh;
    }
}

/* ******************** End of responsiveness Styling ******* */


.link{
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
  color: inherit;
  font-size: 19px;
  font-weight: bold;
}

.link:hover{
    color: white;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  padding: 0 20px;
}

.nav-item:last-child{
    background: #ff6666;
    color: white;
    padding: 5px;
    transition: all 0.5s ease;
}

.nav-item:last-child:hover{
    background: white;
    border: 1px solid #ff6666;
}

.nav-item:last-child:hover a{
    color: #ff6666;
}

.nav-container{
     display: flex;
     background: linear-gradient(120deg, rgba(0,122,223,1) 0%, rgba(0,236,188,1) 100%);
     justify-content: space-between;
     align-items: center;
     padding: 20px 40px;
}


.nav-left, .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-around;
}


.nav-left img{
    width: 80px;
    height: auto;
    margin-right: 30px;
}

.nav-left h2{
    color: white;
}

.signout{
    font-weight: normal;
    background: #ff6666;
    color: white;

}

.signout a{
    font-size: 20px;
    font-weight: normal;
}

.signout:hover a{
    background: white;
    color: #ff6666;
}

.nav-toggle-icon{
    color: white;
}

.nav-toggle-btn{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1350px) {
    .nav-container{
        padding: 10px;
    }
}

@media (max-width: 1130px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-left{
        margin-bottom: 10px;
    }
}

@media (max-width: 620px) {
    .nav-left, .nav-right{
        flex-direction: column;
    }

    .nav-right{
        display: none;
    }

    .nav-left img{
        margin: 10px auto;
    }

    .nav-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .nav-item{
        margin-top: 10px;
        flex: 1 0 auto;
    }


    .nav-toggle-btn{
        display: block;
    }

    .show-nav .nav-right{
        display: flex;

    }

    .show-nav .nav-toggle-icon{
        transform: rotate(180deg);
    }
}


/* ******************* LOGIN PAGE STYLING ****************** */

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: lightgrey;
}


.login-system-wrapper{
    background: white;
    width: 500px;
    padding: 10px 10px 30px;
    text-align: center;
    margin: 70px 0;
    border-radius: 7px;
}

#login h2{
    margin-bottom: 30px;
}

.reset-desc{
    padding: 0 50px;
    font-weight: bold;
}

#login form{
    width: 80%;
    padding: 2px;
    margin: 2px auto 15px;
}

#login p{
    margin: 5px 0;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 20px;
}

#login label{
    font-weight: 200;
}

#login input{
    display: block;
    padding: 7px;
    padding-bottom: 1px;
    border: none;
    border-bottom: 1px dashed #2b98f0;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    transition: all 0.5s ;
}

#login input:focus{
    border-bottom: 2px solid #2b98f0;
}
#login img{
    width: 130px;
    margin-top: 30px;
}

#login input[type=submit] {
    padding: 12px;
    border: none;
    background: #2b98f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#login input[type=submit]:hover{
    background: white;
    border: 1px solid #2b98f0;
    color: #2b98f0;
}

#login a{
    color: #2b98f0;
    transition: 0.5s ease;
}
#login a:hover{
    color: red;
}

#login input[type=checkbox]{
    display: inline-block;
    width: 28px;
    margin: 0;
    padding: 0;
    height: 17px;
}

#login input[type=checkbox] + label {
    display: inline;
    position: relative;
    top: -2px;
}


.error, .success{
    width: 100%;
    color: red;
    text-align: left;
    font-size: 14px;
}

.success{
    color: #49F409;
    text-align: center!important;
    font-size: 18px;
}

/* ******************** Depot Styling ************************** */
#stock {
    overflow-x:auto;
}

#stock table {
    font-size: 1.7rem;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 250px auto 0;
    width: 900px;
}

#stock th, td {
    padding: 10px;
    font-size: 1.2rem;
}

.side-search{
    text-align: center;
}
.side-search form{
    text-align: center;
}

.side-search form input[type=text] {
    width: 300px;
    padding: 5px;
    border: 1px solid black;
}

.side-search form input[type=submit]{
    padding: 5px;
    font-size: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.side-search form input[type=submit]:hover{
    background: orange;
}

#id-error{
    text-align: center!important;
    margin-bottom: 10px;
}


@media (max-width: 620px) {
    #stock table {
        font-size: 1.1rem;
    }
}

/********************* Personal Info Styling ***************** */

.personal-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}


.profile img{
    width: 250px;
}

.profile{
    line-height: 2rem;
}

.profile h4{
    margin-top: 50px;
}

.update-info {
    padding: 4px;
    border-radius: 5px;
    margin: 30px auto 5px;
    background: #2b98f0;
    border-style: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    display: block;

}

.update-info a{
    font-size: 17px;
    font-weight: normal;
}

.update-info:hover{
    background: white;
    border: 1px solid #2b98f0;
}

.update-info:hover a{
    color: #2b98f0;
}

#details form{
    max-width: 1000px;
    padding: 2px;
    margin: 2px auto 15px;
}

#details p{
    margin: 5px 0;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 20px;
}

#details label{
    font-weight: 200;
}

#details input{
    display: block;
    padding: 8px;
    border: 1px solid black;
    width: 100%;
    outline: none;
    font-size: 1rem;
    transition: all 0.5s ;
    margin-top: 5px;
}

#details input:focus{
    border-bottom: 2px solid #2b98f0;
}
#details img{
    width: 130px;
    margin-top: 30px;
}

#details input[type=submit] {
    padding: 12px;
    border: none;
    background: #2b98f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#details input[type=submit]:hover{
    background: white;
    border: 1px solid #2b98f0;
    color: #2b98f0;
}


/* *********************FOOTER STYLING ************************* */
footer{
    background: linear-gradient(120deg, rgba(79,172,254,1) 0%, rgba(0,242,254,1) 100%);
    color: #f5f5f5;
    text-align: center;
    padding: 20px 10px 10px 10px;
    margin-top: 200px;
}

footer a{
    text-decoration: none;
    color: #f5f5f5;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
}
