
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;

}

header{
    margin-bottom: 25px;
}

.link{
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
  color: inherit;
  font-size: 20px;
  font-weight: bold;
}

.link:hover{
    color: white;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  padding: 0 20px;
}

.nav-item:last-child{
    background: #ff6666;
    color: white;
    padding: 5px;
    transition: all 0.5s ease;
}

.nav-item:last-child:hover{
    background: white;
    border: 1px solid #ff6666;
}

.nav-item:last-child:hover a{
    color: #ff6666;
}

.nav-container{
     display: flex;
     background: linear-gradient(120deg, rgba(0,122,223,1) 0%, rgba(0,236,188,1) 100%);
     justify-content: space-between;
     align-items: center;
     padding: 20px 40px;
}


.nav-left, .nav-right {
      display: flex;
      align-items: center;
      justify-content: space-around;
}


.nav-left img{
      width: 80px;
      height: auto;
      margin-right: 30px;
}

.nav-left h2{
        color: white;
}

.signout{
    font-weight: normal;
    background: #ff6666;
    color: white;

}

.signout a{
    font-size: 20px;
    font-weight: normal;
}

.signout:hover a{
    background: white;
    color: #ff6666;
}

.nav-toggle-icon{
    color: white;
}

.nav-toggle-btn{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1350px) {
    .nav-container{
        padding: 10px;
    }
}

@media (max-width: 1130px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-left{
        margin-bottom: 10px;
    }
}

@media (max-width: 620px) {
    .nav-left, .nav-right{
        flex-direction: column;
    }

    .nav-right{
        display: none;
    }

    .nav-left img{
        margin: 10px auto;
    }

    .nav-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .nav-item{
        margin-top: 10px;
        flex: 1 0 auto;
    }


    .nav-toggle-btn{
        display: block;
    }

    .show-nav .nav-right{
        display: flex;

    }

    .show-nav .nav-toggle-icon{
        transform: rotate(180deg);
    }
}
/* Table */

#schedule {
    overflow-x:auto;
}

#schedule table {
    font-size: 1.7rem;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 250px auto 0;
    max-width: 500px;
}

#schedule th, td {
    padding: 10px;
    text-align: center;
}

@media (max-width: 620px) {
    #schedule table {
        font-size: 1.1rem;
    }
}

/* ******************* LOGIN PAGE STYLING ****************** */

#login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: lightgrey;
}


.login-system-wrapper{
    background: white;
    width: 500px;
    padding: 10px 10px 30px;
    text-align: center;
    margin: 70px 0;
    border-radius: 7px;
}

#login h2{
    margin-bottom: 30px;
}

.reset-desc{
    padding: 0 50px;
    font-weight: bold;
}

#login form{
    width: 80%;
    padding: 2px;
    margin: 2px auto 15px;
}

#login p{
    margin: 5px 0;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 20px;
}

#login label{
    font-weight: 200;
}

#login input{
    display: block;
    padding: 7px;
    padding-bottom: 1px;
    border: none;
    border-bottom: 1px dashed #2b98f0;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    transition: all 0.5s ;
}

#login input:focus{
    border-bottom: 2px solid #2b98f0;
}
#login img{
    width: 130px;
    margin-top: 30px;
}

#login input[type=submit] {
    padding: 12px;
    border: none;
    background: #2b98f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#login input[type=submit]:hover{
    background: white;
    border: 1px solid #2b98f0;
    color: #2b98f0;
}

#login a{
    color: #2b98f0;
    transition: 0.5s ease;
}
#login a:hover{
    color: red;
}

#login input[type=checkbox]{
    display: inline-block;
    width: 28px;
    margin: 0;
    padding: 0;
    height: 17px;
}

#login input[type=checkbox] + label {
    display: inline;
    position: relative;
    top: -2px;
}


.error, .success{
    width: 100%;
    color: red;
    text-align: left;
    font-size: 14px;
}

.success{
    color: #49F409;
    text-align: center!important;
    font-size: 18px;
}

/* ******************** Depot Styling ************************** */
#stock {
    overflow-x:auto;
}

#stock table {
    font-size: 1.7rem;
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 250px auto 0;
    width: 900px;
}

#stock th, td {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.side-search{
    text-align: center;
}
.side-search form{
    text-align: center;
}

.side-search form input[type=text] {
    width: 300px;
    padding: 5px;
    border: 1px solid black;
}

.side-search form input[type=submit]{
    padding: 5px;
    font-size: 12px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.side-search form input[type=submit]:hover{
    background: orange;
}

#id-error{
    text-align: center!important;
    margin-bottom: 10px;
}


@media (max-width: 620px) {
    #stock table {
        font-size: 1.1rem;
    }
}

/********************* Personal Info Styling ***************** */

.personal-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}


.profile img{
    width: 250px;
}

.profile{
    line-height: 2rem;
}

.profile h4{
    margin-top: 50px;
}

.update-info {
    padding: 4px;
    border-radius: 5px;
    margin: 30px auto 5px;
    background: #2b98f0;
    border-style: none;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    display: block;

}

.update-info a{
    font-size: 17px;
    font-weight: normal;
}

.update-info:hover{
    background: white;
    border: 1px solid #2b98f0;
}

.update-info:hover a{
    color: #2b98f0;
}

#details form{
    max-width: 1000px;
    padding: 2px;
    margin: 2px auto 15px;
}

#details p{
    margin: 5px 0;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 20px;
}

#details label{
    font-weight: 200;
}

#details input{
    display: block;
    padding: 8px;
    border: 1px solid black;
    width: 100%;
    outline: none;
    font-size: 1rem;
    transition: all 0.5s ;
    margin-top: 5px;
}

#details input:focus{
    border-bottom: 2px solid #2b98f0;
}
#details img{
    width: 130px;
    margin-top: 30px;
}

#details input[type=submit] {
    padding: 12px;
    border: none;
    background: #2b98f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#details input[type=submit]:hover{
    background: white;
    border: 1px solid #2b98f0;
    color: #2b98f0;
}


/* *********************FOOTER STYLING ************************* */
footer{
    background: linear-gradient(120deg, rgba(79,172,254,1) 0%, rgba(0,242,254,1) 100%);
    color: #f5f5f5;
    text-align: center;
    padding: 20px 10px 10px 10px;
    margin-top: 200px;
}

footer a{
    text-decoration: none;
    color: #f5f5f5;
    margin-bottom: 20px;
    font-weight: bold;
    display: block;
}
